/*Estilos del inicio de sesion*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.register {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    margin-top: 150px;
}
.register-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.register-form {
    text-align: center;

}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 330px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    background: red;
    border-radius: 3px;
    width: 220px;

}



.register-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

/* Estilos del registro */

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.register {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}
.register-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.register-form {
    text-align: center;

}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 330px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    background: red;
    border-radius: 3px;
    width: 220px;

}



.register-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.check{
    margin-left: -150px;
    margin-right: -150px;
}