/* 
    Created on : 22/09/2022, 04:01:30 PM
    Author     : Melani
*/

.cuerpo{
    background-color: #f3f3f3;
}

.botonInvisible{
    margin-top: 50px;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    color: #e20f00;
    font-family: 'Candara', sans-serif ; /*tipografía texto*/
    font-size: 15px;
    font-weight: bold;
}

.botonBasico{
    border: 1px solid #e86259;
    margin-top: 50px;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e20f00; /*color botón*/
    color: #ffffff;
    font-family: 'Candara', sans-serif ; /*tipografía texto*/
    border-radius: 5px;
    font-size: 15px;
    font-weight: inherit;
}

#circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e20f00;
    margin-top: 30px;
    margin-right: 1000px
}

.texto{
    text-align: justify;
    margin-right: 20px;
    margin-left: 110px;
    margin-top: 70px;
}

.parrafo{
    color: #4B4B4B;
    font-family: 'Futura', sans-serif ; /*tipografía texto*/
    font-size: 16px;
}


.imagen{
    float: right;
    margin-top: -180px;
}

.linea{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 700px;
    color: lightgrey;
}

.sabermas{
    margin-top: 30px;
    margin-left: 100px;
    color: #e20f00; 
    font-family: 'Candara', sans-serif ; /*tipografía texto*/
    font-size: 15px;
    font-weight: bold;
}

.iconoSaberMas{
    margin-left: 5px;
}


#normal {
    width: 200px;
    height: 160px;
    margin-left: 400px;
    margin-top: 10px;
}
#normal .red {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
#normal .blue {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
#normal .orange {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
#normal .green {
    width: 500px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    margin-top: -10px;
}

.titulo{
    text-align: center;
}

.editar{
    height: 30px;
    width: 30px;
    margin-left: 250px;
    margin-top: 5px;
}

.eliminar{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

.chulo{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.cliente{
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}

.cuadro{
    height: 30px;
    width: 30px;
}

.clientes{
    margin-left: 120px;
}