/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22/09/2022, 04:01:30 PM
    Author     : Melani
*/

.cuerpo{
    background-color: beige;
}

.nav-item{
   color:#FF0000
}