/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22/09/2022, 04:01:30 PM
    Author     : Melani
*/

.cuerpo{
    background-color: beige;
}

.nav-item{
   color:#FF0000;
   margin-top: -100px;
   margin-right: 20px;
}

.punto {
    width: 100px;
    margin-left: -90px;
    margin-top: 15px;
}


.texto{
    text-align: justify;
    margin-right: 20px;
    margin-left: 110px;
    margin-top: 70px;
}

.imagen{
    float: right;
    margin-top: -180px;
}

