/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22/09/2022, 04:01:30 PM
    Author     : Melani
*/

.cuerpo{
    background-color: beige;
}

.nav-link{
    color: red;
    margin-top: 15px;
    margin-right: 20px;
}

.nav-item1{
    color: red;
    margin-top: -5px;
    margin-right: 10px;
}



.texto{
    text-align: justify;
    margin-right: 20px;
    margin-left: 110px;
    margin-top: 70px;
}

.imagen{
    float: right;
    margin-top: -180px;
}


#normal {
    width: 200px;
    height: 160px;
    margin-left: 400px;
    margin-top: 10px;
}
#normal .red {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
#normal .blue {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
#normal .orange {
    width: 500px;
    height: 40px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}
#normal .green {
    width: 500px;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    margin-top: -10px;
}

.titulo{
    text-align: center;
}

.editar{
    height: 30px;
    width: 30px;
    margin-left: 250px;
    margin-top: 5px;
}

.eliminar{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}

.chulo{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.cliente{
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}

.cuadro{
    height: 30px;
    width: 30px;
}

.clientes{
    margin-left: 120px;
}

/*Estilos del inicio de sesion*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.register {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    margin-top: 150px;
}
.register-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.register-form {
    text-align: center;

}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 330px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    background: red;
    border-radius: 3px;
    width: 220px;

}



.register-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

/* Estilos del registro */

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.register {
    margin: 20px auto;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}
.register-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.register-form {
    text-align: center;

}
.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 330px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    background: red;
    border-radius: 3px;
    width: 220px;

}



.register-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.check{
    margin-left: -150px;
    margin-right: -150px;
}